body {
  line-height: 1.5;
  font-family: calibri;
}

@media (min-height: 680px) {
  #main-doc {
    background: lightyellow;
  }
}

section header {
  font-size: 18px;
  font-weight: bold;
}

.page-title {
  margin: auto;
  margin-bottom: 0;
  text-align: center;
}

.main-section {
  margin-left: 260px;
  margin-top: 100px;
}

p {
}

a {
  text-decoration: none;
  color: black;
}
#navbar {
  position: fixed;
  list-style: none;
  width: 200px;
  padding: 20px;
  background: lightblue;
}

.header {
  font-size: 20px;
  font-weight: bold;
}
#First_paragraph {
  background-color: lightyellow;
  padding: 5%;
}

#Second_paragraph {
  background-color: lightyellow;
  padding: 5%;
}

#Third_paragraph {
  background-color: lightyellow;
  padding: 5%;
}

#Fourth_paragraph {
  background-color: lightyellow;
  padding: 5%;
}

#Fifth_paragraph {
  background-color: lightyellow;
  padding: 5%;
}

.nav-link {
  line-height: 2;
  text-decoration: none;
  color: darkslategrey;
  font-weight: bold;
}

.nav-link:hover {
  color: black;
}
